<html>
    <body>
    <h1>Liste des livres</h1>
    <h3>Infos générales</h3>
    {# {% for categories in elements %} #}
        {# {{ categories|keys }} #}
    {# {% endfor %} #}
        {# {% for book in elements %}
         <ul style='background:lightblue; float:left; max-width:20%; margin-left:20px;'>
            <h1>{{book.titre}}</h1>
            <li>auteur :
                {% for auteur in book.auteur %}
                     {{auteur}}
                {% endfor %}
            </li>
            <li>description : {{book.description}}</li>
            <li>editeur : {{book.editeur}}</li>
            <li>genre : 
                {% for genre in book.genre %}
                     {{genre}}
                {% endfor %}
            </li>
            <li>publication : {{book.publication}}</li>
        </ul>
        {% endfor %} #}
    </body>
</html>